# Entorno virtual
venv/
.venv/
env/
ENV/

# Archivos generados por Python
_pycache_/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos de entorno
.env

# Logs
*.log

# Archivos de cobertura
.coverage
htmlcov/

# Carpetas IDE
.idea/
.vscode/
*.swp
*.swo

# Base de datos SQLite (si se usa localmente)
*.sqlite3

# Archivos temporales
.DS_Store
Thumbs.db